<div class="alert alert-block alert-info">
<H1>MODULE6: Databases and SQL for Data Science with Python:</H1></div>
<div class="alert alert-block alert-success">
<H2>WEEK 5: Peer-graded Assignment</H2></div>
<div class="alert alert-block alert-warning"><H3>Chicago Data Analysis Using Local Database</H3> </div>

In [1]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 1: Find the total number of crimes recorded in the CRIME table. \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [2]: \u001b[0m\u001b[34;1mSELECT COUNT(*) FROM CRIMES;\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [2]:")
#### PROBLEM 1: CRIMES TABLE #############################################################################################################################################################################################################################################################################################################
import sqlite3
import pandas as pd
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT COUNT(*) FROM CRIMES;"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 1: Find the total number of crimes recorded in the CRIME table. 2 Points

In [2]: SELECT COUNT(*) FROM CRIMES;

Out [2]:

   COUNT(*)
0       533

In [2]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 2: List community areas with per capita income less than 11000. \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [2]: \u001b[0m\u001b[34;1mSELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [PER CAPITA INCOME ] <11000;\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [2]:")
###########################################################################################################################################################################################################################################################################################################################################
##### PROBLEM 2: CENSUS TABLE #############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [PER CAPITA INCOME ] <11000;"
pd.read_sql_query(q,conn)
##############################################

Problem 2: List community areas with per capita income less than 11000. 2 Points

In [2]: SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [PER CAPITA INCOME ] <11000;

Out [2]:

  COMMUNITY AREA NAME
0  West Garfield Park
1      South Lawndale
2         Fuller Park
3           Riverdale

In [3]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 3: List all case numbers for crimes involving minors? \n {children are not considered minors for the purposes of crime analysis}. \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [3]: \u001b[0m\u001b[34;1mSELECT [CASE_NUMBER] FROM CRIMES WHERE [DESCRIPTION] LIKE '%MINOR%';\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [3]:")
##### PROBLEM 3: CRIMES TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [CASE_NUMBER] FROM CRIMES WHERE [DESCRIPTION] LIKE '%MINOR%';"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 3: List all case numbers for crimes involving minors?
 {children are not considered minors for the purposes of crime analysis}. 2 Points

In [3]: SELECT [CASE_NUMBER] FROM CRIMES WHERE [DESCRIPTION] LIKE '%MINOR%';

Out [3]:

  CASE_NUMBER
0    HL266884
1    HK238408

In [4]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 4: List all kidnapping crimes involving a child? \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [4]: \u001b[0m\u001b[34;1mSELECT * FROM CRIMES WHERE [PRIMARY_TYPE] LIKE '%KIDNAP%' AND [DESCRIPTION] LIKE '%CHILD%';\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [4]:")
##### PROBLEM 4: CRIMES TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT * FROM CRIMES WHERE [PRIMARY_TYPE] LIKE '%KIDNAP%' AND [DESCRIPTION] LIKE '%CHILD%';"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 4: List all kidnapping crimes involving a child? 2 Points

In [4]: SELECT * FROM CRIMES WHERE [PRIMARY_TYPE] LIKE '%KIDNAP%' AND [DESCRIPTION] LIKE '%CHILD%';

Out [4]:

,ID,CASE_NUMBER,COMMUNITY_AREA_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,...,BEAT,DISTRICT,WARD,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,5276766,HN144152,25,2007-01-26,050XX W VAN BUREN ST,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,STREET,0,...,1533,15,29.0,20,1143050.0,1897546.0,2007,41.87490841,-87.75024931,"(41.874908413, -87.750249307)"

In [5]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 5: What kind of crimes were recorded at schools? \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [5]:\u001b[0m\u001b[34;1mSELECT DISTINCT [PRIMARY_TYPE] FROM CRIMES WHERE[LOCATION_DESCRIPTION] LIKE 'SCHOOL%' ORDER BY [PRIMARY_TYPE] ASC;\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [5]:")
##### PROBLEM 5: CRIMES TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT DISTINCT [PRIMARY_TYPE] FROM CRIMES WHERE[LOCATION_DESCRIPTION] LIKE 'SCHOOL%' ORDER BY [PRIMARY_TYPE] ASC;"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 5: What kind of crimes were recorded at schools? 2 Points

In [5]:SELECT DISTINCT [PRIMARY_TYPE] FROM CRIMES WHERE[LOCATION_DESCRIPTION] LIKE 'SCHOOL%' ORDER BY [PRIMARY_TYPE] ASC;

Out [5]:

             PRIMARY_TYPE
0                 ASSAULT
1                 BATTERY
2         CRIMINAL DAMAGE
3       CRIMINAL TRESPASS
4               NARCOTICS
5  PUBLIC PEACE VIOLATION

In [6]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 6: List the average safety score for all types of schools. \u001b[0m\u001b[31;1m2 Points\n\n\u001b[0m\u001b[31;1mIn [6]:\u001b[0m\u001b[34;1mSELECT[Elementary, Middle, or High School],AVG([Safety Score])FROM SCHOOLS GROUP BY[Elementary, Middle, or High School];\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [6]:")
##### PROBLEM 6: SCHOOLS TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT[Elementary, Middle, or High School],AVG([Safety Score])FROM SCHOOLS GROUP BY[Elementary, Middle, or High School];"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 6: List the average safety score for all types of schools. 2 Points

In [6]:SELECT[Elementary, Middle, or High School],AVG([Safety Score])FROM SCHOOLS GROUP BY[Elementary, Middle, or High School];

Out [6]:

  Elementary, Middle, or High School  AVG([Safety Score])
0                                 ES            49.520384
1                                 HS            49.623529
2                                 MS            48.000000

In [7]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 7: List 5 community areas with highest % of households below poverty line. \u001b[0m\u001b[31;1m3 Points\n\n\u001b[0m\u001b[31;1mIn [7]:\u001b[0m\u001b[34;1mSELECT [COMMUNITY AREA NAME],[PERCENT HOUSEHOLDS BELOW POVERTY] FROM CENSUS\n       ORDER BY [PERCENT HOUSEHOLDS BELOW POVERTY] DESC LIMIT 5;\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [7]:")
##### PROBLEM 7: CENSUS TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [COMMUNITY AREA NAME],[PERCENT HOUSEHOLDS BELOW POVERTY] FROM CENSUS ORDER BY [PERCENT HOUSEHOLDS BELOW POVERTY] DESC LIMIT 5;"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 7: List 5 community areas with highest % of households below poverty line. 3 Points

In [7]:SELECT [COMMUNITY AREA NAME],[PERCENT HOUSEHOLDS BELOW POVERTY] FROM CENSUS
       ORDER BY [PERCENT HOUSEHOLDS BELOW POVERTY] DESC LIMIT 5;

Out [7]:

  COMMUNITY AREA NAME  PERCENT HOUSEHOLDS BELOW POVERTY
0           Riverdale                              56.5
1         Fuller Park                              51.2
2           Englewood                              46.6
3      North Lawndale                              43.1
4  East Garfield Park                              42.4

In [8]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 8: Which community area(number) is most crime prone? \u001b[0m\u001b[31;1m3 Points\n\n\u001b[0m\u001b[31;1mIn [8]:\u001b[0m\u001b[34;1mSELECT [COMMUNITY_AREA_NUMBER], COUNT(*) AS Frequency FROM CRIMES GROUP BY[COMMUNITY_AREA_NUMBER] ORDER BY FREQUENCY DESC LIMIT 1;\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [8]:")
##### PROBLEM 8: CRIMES TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [COMMUNITY_AREA_NUMBER], COUNT(*) AS Frequency FROM CRIMES GROUP BY[COMMUNITY_AREA_NUMBER] ORDER BY FREQUENCY DESC LIMIT 1;"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 8: Which community area(number) is most crime prone? 3 Points

In [8]:SELECT [COMMUNITY_AREA_NUMBER], COUNT(*) AS Frequency FROM CRIMES GROUP BY[COMMUNITY_AREA_NUMBER] ORDER BY FREQUENCY DESC LIMIT 1;

Out [8]:

   COMMUNITY_AREA_NUMBER  Frequency
0                     25         43

In [9]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 9: Use a sub-query to find the name of the community area with highest hardship index. \u001b[0m\u001b[31;1m3 Points\n\n\u001b[0m\u001b[31;1mIn [9]:\u001b[0m\u001b[34;1mSELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [HARDSHIP INDEX] = (SELECT MAX([HARDSHIP INDEX])FROM CENSUS);\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [9]:")
##### PROBLEM 9: CENSUS TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [HARDSHIP INDEX] = (SELECT MAX([HARDSHIP INDEX])FROM CENSUS);"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 9: Use a sub-query to find the name of the community area with highest hardship index. 3 Points

In [9]:SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE [HARDSHIP INDEX] = (SELECT MAX([HARDSHIP INDEX])FROM CENSUS);

Out [9]:

  COMMUNITY AREA NAME
0           Riverdale

In [10]:
###########################################################################################################################################################################################################################################################################################################################################
print(u"\u001b[30;1m \nProblem 10: Use a sub-query to determine the Community Area Name with most number of crimes? \u001b[0m\u001b[31;1m4 Points\n\n\u001b[0m\u001b[31;1mIn [10]:\u001b[0m\u001b[34;1mSELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE[Community Area Number]= \n(SELECT[COMMUNITY_AREA_NUMBER]FROM CRIMES WHERE [COMMUNITY_AREA_NUMBER]=25 LIMIT 1);\n\u001b[0m\n\u001b[0m\u001b[31;1mOut [10]:")
##### PROBLEM 10: CENSUS & CRIMES TABLE ############################################################################################################################################################################################################################################################################################################
#### Establish Connection with Locally Created Database ###################################################################################################################################################################################################################################################################################
conn = sqlite3.connect('IBM_MODULE6.db')
cursor = conn.cursor() # Create Handle
#### CODE #################################################################################################################################################################################################################################################################################################################################
q= "SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE[Community Area Number]= (SELECT[COMMUNITY_AREA_NUMBER]FROM CRIMES WHERE [COMMUNITY_AREA_NUMBER]=25 LIMIT 1);"
pd.read_sql_query(q,conn)
###########################################################################################################################################################################################################################################################################################################################################

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes? 4 Points

In [10]:SELECT [COMMUNITY AREA NAME] FROM CENSUS WHERE[Community Area Number]=
(SELECT[COMMUNITY_AREA_NUMBER]FROM CRIMES WHERE [COMMUNITY_AREA_NUMBER]=25 LIMIT 1);

Out [10]:

  COMMUNITY AREA NAME
0              Austin